---
---

<button>Jeg er en knap</button>

<style>
  button {
    border: none;
    font: inherit;
    background: var(--button-primary-background);
    color: var(--button-primary-text);
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-sm);
  }
</style>
